---
extends: "@elastic/kibana"

settings:
  import/resolver:
    '@elastic/eslint-import-resolver-kibana':
      rootPackageName: 'transform_vis'

rules:
  '@kbn/eslint/require-license-header': 'off'
